<h3>Portfolio</h3>
<div class="wrapper">
    <div class="portfolio">
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card1.jpg" alt="collect memories">
            </div>
            <figcaption>
                <h2>Collect Memories</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card2.jpg" alt="read books">
            </div>
            <figcaption>
                <h2>Learn new things</h2>
            </figcaption>
        </figure>
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card3.jpg" alt="Relax">
            </div>
            <figcaption>
                <h2>Relax</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card4.jpg" alt="Cave">
            </div>
            <figcaption>
                <h2>Explore new places</h2>
            </figcaption>
        </figure>
        <figure class="right">
            <div class="card-img-top">
                <img src="./img/card5.jpg" alt="Enjoy">
            </div>
            <figcaption>
                <h2>Enjoy</h2>
            </figcaption>
        </figure>
        <figure class="left">
            <div class="card-img-top">
                <img src="./img/card6.jpg" alt="Create memories">
            </div>
            <figcaption>
                <h2>Create memories</h2>
            </figcaption>
        </figure>
    </div>
</div>
